# Base de datos
DB_HOST=multitiendallamativo.cl
DB_PORT=3306
DB_NAME=orhanoik_sivig_laravel
DB_USER=orhanoik_sivig_laravel
DB_PASS=tu_password_db

# JWT
JWT_SECRET=tu_secreto_jwt

# SII - Scraping RCV
SII_RUT=76341652-6
SII_PASSWORD=tu_password_sii

# API Simple
SIMPLE_API_USER=api
SIMPLE_API_PASS=tu_api_pass
SIMPLE_API_PASS_2=tu_api_pass_2
SIMPLE_API_RUT_USUARIO=76341652-6
SIMPLE_API_RUT_EMPRESA=76341652-6
SIMPLE_API_PASS_SII=tu_pass_sii

# Mercado Libre
ML_CLIENT_ID=tu_client_id
ML_CLIENT_SECRET=tu_client_secret

# WooCommerce
WOO_BASE_URL=https://multitiendallamativo.cl/
WOO_CONSUMER_KEY=ck_tu_key
WOO_CONSUMER_SECRET=cs_tu_secret
